body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #77c4c4;
    color: #fff;
    padding: 10px;
    text-align: center;
}
nav {
    background-color: #008080;
    padding: 5px;
    text-align: center;
}
nav a {
    color: #fff;
    margin: 10px;
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
}
.content {
    display: flex;
    justify-content: center;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

main {
    padding: 50px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px; 
}

section {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: color:#333;
}

section h2 {
    color: #008080;
    margin-top: 0;
}

section img {
    width: 300px;
    border-radius: 8px;
    margin-bottom: 20px;
    display: flex;
    justify-self: right;
    
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 10px;
}